// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import "shared/header";
@import "partials/navbar";
@import "partials/card";
@import "partials/checkout";
@import "shared/footer";
// Partials
@import "partials/icons";
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #f7f7f7;
}

.wrapper {
  height: 100vw;
  padding: 15px 0;
}

