// header scss

.header {
  background-color: #1f6fb2;
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-information {
  text-decoration: none;
  font-weight: 300;
  font-size: 35px;
}
